@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>
        Use the Reading-Time app to manage and track the books you read.
    </h5>
    <h5>
        We believe that reading helps factor in learning, development, and health!
    </h5>

    <img src="/Image/Home/Books.jpg" class="img-fluid" alt="I love reading">

    <div class="video-container">
        <video width="800" height="441" autoplay controls>
            <source src="~/video/videoTED.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    

</div>


