@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>A little details</h1>

<h5>
    At first - lets see what the status whit the COVID-19
</h5>
<div class="col-lg-12">
    <div id="corona_widget">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-4cfa830b-3894-47e6-9668-dc25eb83f04c"></div>
    </div>
</div>

<h5>
    



</h5>

<!-- weather widget start -->

<!-- weather widget end -->

<h5>
   



</h5>

<!-- Google Font -->
<h5>
    My office is home as well
</h5>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.710891998445!2d34.7721018142448!3d32.077067426652306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b80a1d019bb%3A0xba2a0cda47207e45!2sDizengoff%20St%2081%2C%20Tel%20Aviv-Yafo!5e0!3m2!1sen!2sil!4v1636637898828!5m2!1sen!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


<link href="https://www.google.co.uk/maps/place/Dizengoff+St+81,+Tel+Aviv-Yafo/32.0770674,34.7721018,17z/data=!3m1!4b1!4m5!3m4!1s0x151d4b80a1d019bb:0xba2a0cda47207e45!8m2!3d32.0770629!4d34.7742905">
<!-- Css Styles -->

<ul>
    <li><i class="fa fa-map-pin">  Office: Dizengoff St. 81, Tel-Aviv</i></li>
    <li><i class="fa fa-phone">  Phone: 050-123123123</i></li>
   </ul>
